.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
.terragrunt-cache/
*.pem
*.key
*.ovpn
.env
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
