terraform {
  backend "s3" {
    bucket       = "REPLACE-WITH-CUSTOMER-TERRAFORM-STATE-BUCKET"
    key          = "openvpn/terraform.tfstate"
    region       = "eu-west-1"
    encrypt      = true
    use_lockfile = true
  }
}
